body{
  padding: none !important;
  margin: none !important;
  font-family: 'Roboto Slab', serif;
}

#landing {
  /*background-image: url('img/Chicago.jpg');*/
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: block;
}

#landing.off{
  display: none;
}

#titleContainer {
  height: 20vh;
  font-size: 36px;
}

#box {
  background-image: url('../img/visionary.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: left;
  height: 150px;
}

#space_box {
  align-items: left;
  height: 150px;
}

#text{
  align-items: left;
  height: 150px;
}

#boxes {
  align-items: left;
  outline: black solid thick;
  height: 100px;
  padding-top: 100px;
}

#foot{
  font-family: 'Squada One', serif;
  font-size: 24px;
  margin-top: 100px;
  background-color: black;
  color: white;
}

.row {
  padding: 15px;
}


#space1 {
  align: left;
}

#space2 {
  align: left;
}
.col-lg-5 {
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.06em;
  color: rgba(55,55,55,0.85);;
  padding-top: 100px;
}

.col-lg-1 {
  align-items: left;
}

#quote0 {
    padding-right: 30px;
}

#quote1 {
    padding-left: 30px;
}

#quote0, #quote1 {
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
}

.attribution {
    font-size: 20px;
    display: none;
}

/**
 * etc...
 */

video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	/* background: url(polina.jpg) no-repeat; */
	background-size: cover;
    opacity: .3;
}

#video-content{
  display: none;
}

#video-content.on{
  display: block;
}
