body{
  padding: none !important;
  margin: none !important;
  font-family: 'Roboto Slab', serif;
}

#landing {
  /*background-image: url('img/Chicago.jpg');*/
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#titleContainer {
  height: 20vh;
  font-size: 36px;
}

.col-lg-1 {
  text-align: left;
}

.col-lg-5 {
  text-align: left;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.06em;
  color: rgba(55,55,55,0.85);;
}

#quote0 {
    padding-right: 30px;
}

#quote1 {
    padding-left: 30px;
}

#quote0, #quote1 {
    -moz-animation-duration: 3s;
    -moz-animation-delay: 0.5s;
}

.attribution {
    font-size: 20px;
    display: none;
}

/**
 * etc...
 */

video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	/* background: url(polina.jpg) no-repeat; */
	background-size: cover;
    opacity: .3;
}