body{
  padding: none !important;
  margin: none !important;
}
#landing {
  background-color: yellow;
  width: 100%;
  height: 100vh;
}

#twelve {
  background-color: lightblue;
  height: 20vh;
}

#one {
  text-align: left;
}

.four {
  background-color: yellow;
  text-align: left;
}

#three {
  text-align: left;
}
